*  {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
 
  display: flex;
  justify-content: center;
}

.container {
  max-width: 1000px;
  min-height: 100vh;
}

.flex {
  display: flex;
}

header {
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: flex-start;
}

.book-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 12px;
  margin: 10px 10px 10px;
  background-color: #f7f7f7;
  max-width: 300px;
  border-radius: 10px;
  transition: all 200ms;
}

.card:hover {
  transform: translateY(-10px);
  /* transform: translate(-10px -10px); */
}

.card-content {
  display: flex;
  flex-direction: column;
}

table {
  table-layout: fixed;
}

tr {
  background-color: #f7f7f7;
  padding: 10px;
  margin: 10px 0;
}

tr .left {
  color: blue;
  width: 200px;
}

